<!-- app.component.html -->

<!-- Barra de navegação -->
<header class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">WebApi Angular</a>
  <!-- Botão para alternar a navegação em telas menores -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Itens da barra de navegação -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!-- Link para a rota de Filmes -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/filmes">Filmes</a>
      </li>
      <!-- Link para a rota de Séries -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/series">Séries</a>
      </li>
      <!-- Link para a rota de Esportes -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/esportes">Esportes</a>
      </li>
      <!-- Link para a rota de Usuários -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/usuarios">Usuários</a>
      </li>
    </ul>
  </div>
</header>

<!-- Container principal para o conteúdo da página -->
<div class="container mt-3">
  <!-- Componente de roteamento para exibir os diferentes componentes com base nas rotas -->
  <router-outlet></router-outlet>
</div>
